<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body class="home">
   <header>
        <img class="header__logo" src="/images/logo.jpg" alt="">
       <button class="header__burger"><i class="fas fa-bars"></i></button>
       
       <nav class="header__menu">
           <ul>
               <li><a href="">home</a></li>
               <li><a href="">quienes</a></li>
               <li><a href="">servicios</a></li>
               <li><a href="">portfolio</a></li>
               <li><a href="">sucursales</a></li>
               <li><a href="">contacto</a></li>
           </ul>
       </nav>
   </header>
   <main>
       <section class="home__box-banner">
           <img src="/images/img-banner.jpg" alt="banner">
       </section>
       <section class="home__box-products">
            <article class="home__product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/images/img-pdto-1.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="/images/img-descuento.png" alt="sticker-descuento">
                    <a href="" class="home__product__box__zoom">ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum illo porro rem omnis. Reprehenderit?</p>
                <a class="home__product__more" href="#">ver más</a>
            </article>
            <article class="home__product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/images/img-pdto-2.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="/images/img-gratis.png" alt="sticker-descuento">
                    <a href="" class="home__product__box__zoom">ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum illo porro rem omnis. Reprehenderit?</p>
                <a class="home__product__more" href="#">ver más</a>
            </article>
            <article class="home__product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/images/img-pdto-3.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="/images/img-nuevo.png" alt="sticker-descuento">
                    <a href="" class="home__product__box__zoom">ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum illo porro rem omnis. Reprehenderit?</p>
                <a class="home__product__more" href="#">ver más</a>
            </article>
            <article class="home__product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/images/img-pdto-1.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="/images/img-descuento.png" alt="sticker-descuento">
                    <a href="" class="home__product__box__zoom">ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum illo porro rem omnis. Reprehenderit?</p>
                <a class="home__product__more" href="#">ver más</a>
            </article>
            <article class="home__product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/images/img-pdto-2.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="/images/img-gratis.png" alt="sticker-descuento">
                    <a href="" class="home__product__box__zoom">ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum illo porro rem omnis. Reprehenderit?</p>
                <a class="home__product__more" href="#">ver más</a>
            </article>
            <article class="home__product">
                <div class="home__product__box-image">
                    <img class="home__product__image" src="/images/img-pdto-3.jpg" alt="imagen-producto">
                    <img class="home__product__sticker" src="/images/img-nuevo.png" alt="sticker-descuento">
                    <a href="" class="home__product__box__zoom">ampliar foto</a>
                </div>
                <h4>Lorem, ipsum dolor.</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In earum illo porro rem omnis. Reprehenderit?</p>
                <a class="home__product__more" href="#">ver más</a>
            </article>
       </section>
   </main>
   <footer>
    <nav class="footer__menu">
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">quienes</a></li>
            <li><a href="">servicios</a></li>
            <li><a href="">portfolio</a></li>
            <li><a href="">sucursales</a></li>
            <li><a href="">contacto</a></li>
        </ul>
    </nav>
   </footer>
</body>
</html>