.footer__menu {
  background-color: var(--colorRojo);
  width: 100%;
}

.footer__menu ul {
  display: flex;
  flex-direction: column;
}

.footer__menu li {
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
  border-bottom: solid 2px white;
}

@media (min-width: 768px) {
  .footer__menu {
    padding: 60px 0;
    border-radius: 20px 20px 0px 0px;
  }

  .footer__menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer__menu li {
    width: 110px;
    border-bottom: 0;
    display: inline-block;
    text-transform: capitalize;
    border-right: solid 2px white;
    padding: 7px 0;
  }

  .footer__menu li:last-child {
    border-right: none;
  }
}